//variables for fonts

$fontSize10: 10px;
$fontSize12: 12px;
$fontSize14: 14px;
$fontSize16: 16px;
$fontSize18: 18px;
$fontSize20: 20px;
$fontSize22: 22px;
$fontSize24: 24px;
$fontSize26: 26px;
$fontSize28: 28px;
$fontSize30: 30px;
$fontSize36: 36px;

//variables for color
$blue: #5454d4;
$liteBlue: #6565e9;
$white: #fff;
$ochereYellow: #fedc5a;
$green: #77bf41;
$liteYellow: #fedc5a;
$bgRed: rgba(240, 64, 55, 0.1);
$bgBlue: rgba(84, 84, 212, 0.1);
$bgYellow: rgba(254, 220, 90, 0.1);
$bgGreen: rgba(119, 191, 65, 0.1);
$black: #000000;
$purple: #413e65;

//variable for font-weight
$fw100: 100;
$fw200: 200;
$fw300: 300;
$fw400: 400;
$fw500: 500;
$fw600: 600;
$fw700: 700;
$fw800: 800;
$fw900: 900;


