<div class="dashboard">
    <div class="dashboardCard container">
        <div class="header">
            <div class="logo">Omega</div>
            <div class="headerMid">
                <div class="midText">Demos</div>
                <div class="midText">Pages</div>
                <div class="midText">Support</div>
            </div>
            <div class="cart">
                <div class="cartText">Cart</div>
                <div class="cartNumber">3</div>
            </div>
        </div>
        <div class="homePage">
            <div class="homeSection">
                <img class="homeImage" src="../../assets/images/headphonesVertical.png" alt="headphones">
            </div>
            <div class="contentHeading">
                <div class="homeHeading">Enjoy every single beat on headphone!</div>
                <div class="headingContent">For iPhone, iPad, and Android users, be sure your product’s firmware is up to date through the Bose connect app.</div>
                <div class="discountSection">
                    <div class="discountContent">
                        <div class="price">$299</div>
                        <button class="offer">Save 30% today</button>
                    </div>
                    <div class="priceContent">Original price $399</div>
                </div>
            </div>
        </div>
    </div>
</div>